* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 60%;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: lightslategray;
}
.calculator {
  height: 45rem;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid rgb(33, 31, 34);
  border-radius: 1.6rem;
  background-color: brown;
  padding: 0.4rem;
}
table {
  height: 100%;
  width: 98%;
  margin: auto;
}
#input {
  margin: auto;
  width: 91%;
  font-size: 2.2rem;
  margin-top: 1.5rem;
  padding: 0.9rem;
  outline: none;
  border-radius: 1rem;
  border: 3px solid rgb(15, 15, 22);
}

tbody {
  text-align: center;
}
button {
  font-size: 2rem;
  padding: 1rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  outline: none;
  border-radius: 1rem;
  background-color: blanchedalmond;
  font-weight: 600;

  border: 2px solid oldlace;
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 45%;
  }
  #input {
    font-size: 2.5rem;
    padding: 1rem;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.color-change-2x {
  -webkit-animation: color-change-2x 5s linear infinite alternate both;
  animation: color-change-2x 5s linear infinite alternate both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
